.project-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem;
    column-gap: 2rem;
    margin-block: 6vh;
    ul {
        list-style-type: "";
        padding: 0;
    }
}
.project-item {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    a {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        color: var(--color-fg);
        padding-block: .5rem;
        &:hover {
            color: color-mix(in srgb, var(--color-fg) 50%, var(--color-bg) 40%)
        }
    }
    .project-item-meta {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
    }
    ul {
        margin: 0;
    }
    h2, span, ul {
        font-size: var(--fs-body);
        margin: 0;
    }
    h2 {
        grid-column: 1 / 4;
        font-weight: 600;
    }
    .project-item-client {
        grid-column: 4 / 8;
    }
    .project-item-categories {
        grid-column: 8 / 11;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        column-gap: 1rem;
    }
    .project-item-year {
        grid-column: 11 / -1;
        text-align: right;
    }

    img {
        display: none;
            position: fixed;
            z-index: -1;
            width: 450px;
            object-fit: cover;
            aspect-ratio: 4 / 5;
            inset: 50% auto auto 50%;
            transform: translate(-50%, -50%);
            /* filter: grayscale(1); */
            /* mix-blend-mode: multiply; */
            pointer-events: none;
    }
    &:hover {
        img {
            display: block;
        }
    }
}
.project-filter {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-end: 8vh;
    li {
        &:not(:last-child)::after {
            content: "/" / "";
            margin-inline: .5rem;
        }
    }
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-family: "GeistMono", monospace;
        font-size: var(--fs-caption);
        color: var(--color-fg);
        padding: 0;
        &.is-active {
            text-decoration: underline;
        }
    }
}
.project-item.is-inactive,
.work-item.is-inactive {
    opacity: 0.2;
    pointer-events: none;
}
.project-list-names {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    font-family: "GeistMono", monospace;
    font-size: var(--fs-caption);
    font-weight: 700;
    margin: 0;
    margin-block-end: 2rem;
    li:nth-child(1) { grid-column: 1 / 4; }
    li:nth-child(2) { grid-column: 4 / 8; }
    li:nth-child(3) { grid-column: 8 / 11; }
    li:nth-child(4) { grid-column: 11 / -1; text-align: right; }
    li {
        &::after {
            content: "—" / "";
            margin-left: 0.5rem;
        }
    }
}

/* DETAIL PROJECT */
.project-detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    padding: 1rem;
    margin-block: 6vh;
    align-items: baseline;
}
.project-header {
    grid-column: 1 / -1;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: subgrid;
    align-items: baseline;
    h1 {
        margin: 0;
        grid-column: 4 / 8;
        font-size: clamp(1.5rem, calc(2.5vw + 1vw), 1.5rem);
        line-height: 120%;
        font-weight: 650;
        /* font-size: var(--fs-body); */
        /* background-color: red; */
    }
    .project-client {
        font-family: "GeistMono", monospace;
        font-size: var(--fs-caption);
        max-width: 50ch;
        /* grid-column: 1 / 4; */
        /* line-height: 160%; */
    }
}

.project-meta {
    grid-column: 8  / -1;
    display: flex;
    column-gap: 2rem;
    /* grid-row: 1 / -1; */
    font-size: var(--fs-caption);
    font-family: "GeistMono", monospace;
    /* ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
    } */
    time {
        margin-left: auto;
    }

}
.project-body {
    grid-column: 4 / -1;
    font-size: clamp(1.5rem, calc(2.5vw + 1vw), 2.25rem);
    line-height: 125%;
    font-weight: 450;
    max-width: 40ch;
    /* columns: 300px 2; */
    margin-block-start: 3rem;
    /* display: flex; */
    p {
        &:first-child {
            margin-block-start: 0;
        }
    }
    ul {
        list-style-type: "";
        margin: 0;
        max-width: 20ch;
        padding: 0;
        li{
            display: flex;
            flex-wrap: wrap;
            font-size: var(--fs-caption);
            font-family: "GeistMono", monospace;
            line-height: 135%;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
            p {
                margin: 0;
                margin-left: 1.5rem;
                &::before {
                    display: inline-block;
                    content: "→" / "";
                    margin-left: -1.5rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}
.project-photos {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    margin-block-start: 6vh;
    figure {
        grid-column: span 4;
        margin: 0;
        img {       
            vertical-align: middle;
            width: 100%;
        }
    }
}