header {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--space-1);
}

.logo {
    margin-block: calc(var(--space-1) * 1);
    width: 100%;
    svg {
        width: 100%;
        height: auto;
        vertical-align: middle;
        > * {
            fill: var(--fg-color);
        }
    }

    @media (--for-desktop-up) {
        margin-block: calc(var(--space-1) * 4);
        order: 4;
    }
}
.description,
address {
    margin: 0;
    max-width: 40ch;
    font-size: var(--fs-body);
    line-height: 134%;
}
address {
    margin-right: auto;
}

.nav {
    ul {
        display: flex;
        column-gap: var(--space-1);
    }
    li:has(a[aria-current]){
        display: none;
    }
}

html:has(.error),
html:has(.kit-digital) {
    .nav {
        display: none;
    }
}