@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "GeistMono";
    src: url("/fonts/GeistMono[wght].woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}
