.projects {
    /* margin-block-start: calc(var(--space-1) * 3); */
    /* margin-bottom: calc(var(--space-1) * 52); */
}
.projects-item {
    border-block-start: 1px solid var(--fg-color);
    &:last-child {
        border-block-end: 1px solid var(--fg-color);
    }
}

.projects-item-info {
    font-family: "safiro";
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-1);
    text-transform: uppercase;
    align-items: baseline;
    padding: calc(var(--space-1) / 1.75) var(--space-1);
    background-color: var(--bg-color);
    cursor: pointer;
    transition: background-color .250s, color .5s;
    /* &:hover {
        background-color: var(--fg-color);
        color: var(--bg-color);
        a {
            color: var(--bg-color);
        }
    } */

    h2, p, ul, time, a {
        font-size: var(--fs-body);
        line-height: 130%;
        font-weight: 400;
        letter-spacing: 2%;
        margin: 0;
    }
    time {
        flex-basis: calc(var(--space-1) * 3);
    }
    > *:not(time) {
        flex-basis: calc(calc(100% / 4) - var(--space-1) * -3);
    }
    a {
        color: var(--fg-accent);
        &::after {
            content: "→";
            margin-left: calc(var(--space-1) / 2);
        }
    }
}

.projects-item-media {
    display: none;
    opacity: 0;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    overflow-x: auto;
    gap: calc(var(--space-1) / 2);
    padding: calc(var(--space-1)/2);
    border-top: 1px solid var(--fg-color);
    transition-property: display opacity;
    transition-duration: .5s;
    transition-behavior: allow-discrete;
    background-color: var(--fg-color);

    video,
    img {
        width: 90vw;
        max-width: auto;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16 / 14 ;
        vertical-align: middle;
        /* filter: grayscale(100%);
        &:hover {
            filter: grayscale(0%);
        } */
    }
    @media (--for-tablet-up) {
        img,
        video {
            width: 45vw;
            max-width: auto;
        }
    }
    @media (--for-desktop-up) {
        img,
        video {
            width: 55vw;
        }
    }
    @media (--for-bigdesktop-up) {
        img,
        video {
            max-width: 1280px;
        }
    }
    &:not(:has(picture)) {
        display: none;
    }
    &.is-visible {
        display: flex;
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
    }
}