.projects {
    /* margin-block-start: calc(var(--space-1) * 3); */
    /* margin-bottom: calc(var(--space-1) * 52); */
    /* @media (hover) and (prefers-reduced-motion: no-preference) {
        & > .projects-item {
                transition: color .3s linear;
        }
        &:has(> .projects-item:hover) > .projects-item:not(:hover) {
            color: color-mix(in srgb, var(--fg-color) 50%, var(--bg-color));
        }
    } */
}
.projects-item-info {
    position: relative;
    /* font-family: "safiro"; */
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-1);
    text-transform: uppercase;
    align-items: baseline;
    padding: calc(var(--space-1) / 1) var(--space-1);
    background-color: var(--bg-color);
    cursor: pointer;
    transition: background-color .250s, color .5s;
    /* &:hover {
        background-color: var(--fg-color);
        color: var(--bg-color);
        a {
            color: var(--bg-color);
        }
    } */
    &::before,
    &::after {
        position: absolute;
        width: 0;
        content: "";
        display: block;
        height: 100%;
        top: 0;
        background-color: var(--fg-color);
        transition: all ease-in-out .250s;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    &:hover {
        color: color-mix(in srgb, var(--fg-color) 50%, var(--bg-color));
        &::before,
        &::after {;
            width: calc(var(--space-1) / 2);
        }
        /* a {
            background-color: var(--bg-color);
            z-index: 1;
            border: none;
        } */
         a {
            position: relative;
            z-index: 2;
            background-color: var(--bg-color);
            &:hover {
                background-color: var(--fg-color);
                color: var(--bg-color);
                border-color: var(--fg-color);
            }
         }
    }

    h2, p, ul, time, a {
        font-size: var(--fs-body);
        line-height: 130%;
        font-weight: 400;
        letter-spacing: 2%;
        margin: 0;
    }
    time {
        flex-basis: calc(var(--space-1) * 3);
    }
    > *:not(time) {
        flex-basis: calc(calc(100% / 4) - var(--space-1) * -3);
    }
    a {
        /* color: var(--fg-accent); */
        padding: calc(var(--space-1) / 3) calc(var(--space-1) / 1.5);
        border-radius: var(--space-1);
        color: var(--fg-color);
        border: 1px solid currentColor;
        /* width: min-content; */
        flex: 0 1 auto;
        line-height: 100%;
        &::after {
            content: "→";
            margin-left: calc(var(--space-1) / 2);
        }
    }
    @media(hover) {
        &:hover {
            .project-media-preview {
                display: block;
                opacity: 1;
            }
        }
    }
}

.project-media-preview {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 50%;
    pointer-events: none;
    left: calc(var(--x));
    transition-property: display opacity;
    transition-duration: .5s;
    transition-behavior: allow-discrete;
    transform-origin: center;
    /* filter: grayscale(100%); */
    aspect-ratio: 1;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
    @starting-style {
        display: none;
        opacity: 0;
    }
}
@keyframes float {
    0% {
        transform: translateY(-53%) translateX(-50%);
    }
    50% {
        transform: translateY(-47%) translateX(-50%);
    }
    100% {
        transform: translateY(-53%) translateX(-50%);
    }
}


.projects-item {
    position: relative;
    border-block-start: 1px solid var(--fg-color);
    &:last-child {
    border-block-end: 1px solid var(--fg-color);
    }
    &.has-media {
        .projects-item-media {
            display: flex;
            opacity: 1;
            @starting-style {
                opacity: 0;
            }
        }
        .project-media-preview {
            display: none !important;
        }
    }
}

.projects-item-media {
    display: none;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    overflow-x: auto;
    gap: calc(var(--space-1) / 2);
    padding: calc(var(--space-1)/2);
    border-top: 1px solid var(--fg-color);
    transition-property: display opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
    background-color: var(--fg-color);

    video,
    img {
        width: 90vw;
        max-width: auto;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16 / 14 ;
        vertical-align: middle;
        /* filter: grayscale(100%);
        &:hover {
            filter: grayscale(0%);
        } */
    }
    @media (--for-tablet-up) {
        img,
        video {
            width: 45vw;
            max-width: auto;
        }
    }
    @media (--for-desktop-up) {
        img,
        video {
            width: 55vw;
        }
    }
    @media (--for-bigdesktop-up) {
        img,
        video {
            max-width: 1280px;
        }
    }
    &:not(:has(picture)) {
        display: none;
    }
}

.info {
    margin-top: calc(var(--space-1) * 6);
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--space-1) * 4);
    padding-inline: calc(var(--space-1) * 1);
    h2 {
        text-transform: uppercase;
        font-size: var(--fs-body);
        font-weight: 400;
        position: sticky;
        top: var(--space-1);
    }
    li {
        font-size: clamp(var(--fs-body-m), 5vw + .1rem, 1.8rem);
        letter-spacing: -.03rem;
        &:not(:last-child) {
            margin-bottom: calc(var(--space-1) / 3);
        }
    }
}