---
lang: gl
id: 404
url: /404.html
layout: layouts/default.vto
title: 404 · sond3
description: Páxina non atopada.
---

<div class="error">
    <h1>Erro 404</h1>
    <p>Esta páxina non existe</p>
    <a href="/">sond3.com</a>
</div>
