---
lang: en
id: info
url: /info/
layout: layouts/default.vto
title: Studio - sond3
keywords: project, grid systems, graphic design, case study, practical example
description: "Practical project on the use of grid systems in graphic and web design."
---

<h1>Project</h1>