---
lang: es
id: info
url: /info/
layout: layouts/default.vto
title: Info - Retículas
keywords: proyecto, retículas, grid system, diseño gráfico, caso de estudio, ejemplo práctico
description: "Proyecto práctico sobre el uso de retículas en diseño gráfico y web."
---

<h1>Proyecto</h1>