---
lang: gl
id: info
url: /gl/info/
layout: layouts/default.vto
title: Info - Retículas
keywords: proxecto, grellas, grid system, deseño gráfico, caso de estudo, exemplo práctico
description: "Proxecto práctico sobre o uso de retículas en deseño gráfico e web."
---

<h1>Proxecto</h1>